{
  "openapi": "3.1.0",
  "info": {
    "title": "ShipStation API v2",
    "version": "2.0.0",
    "license": {
      "name": "MIT",
      "url": "https://opensource.org/licenses/MIT"
    }
  },
  "servers": [
    {
      "url": "https://api.shipstation.com",
      "description": "Production"
    }
  ],
  "security": [
    {
      "api_keys": []
    }
  ],
  "paths": {
    "/v2/inventory": {
      "x-visibility": "public",
      "summary": "Inventory",
      "description": "Manage inventory, adjust quantities, and handle warehouses and locations.\n",
      "get": {
        "operationId": "getInventoryLevels",
        "summary": "List SKU inventory levels",
        "tags": [
          "inventory"
        ],
        "x-plan": [
          "ss-standard_and_premium_plans",
          "ss-api-free_plan",
          "ss-api-advanced_and_enterprise_plans"
        ],
        "parameters": [
          {
            "name": "sku",
            "description": "Optional list of SKUs to filter down to",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "inventory_warehouse_id",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "inventory_location_id",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "group_by",
            "in": "query",
            "description": "Get counts for SKUs across locations or warehouses",
            "schema": {
              "type": "string",
              "enum": [
                "warehouse",
                "location"
              ]
            }
          },
          {
            "name": "page_size",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Inventory levels for SKUs",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "inventory": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "sku": {
                            "type": "string"
                          },
                          "on_hand": {
                            "type": "integer"
                          },
                          "allocated": {
                            "type": "integer"
                          },
                          "available": {
                            "type": "integer"
                          },
                          "average_cost": {
                            "type": "object",
                            "properties": {
                              "amount": {
                                "type": "number"
                              },
                              "currency": {
                                "type": "string"
                              }
                            }
                          },
                          "inventory_warehouse_id": {
                            "type": "string"
                          },
                          "inventory_location_id": {
                            "type": "string"
                          }
                        }
                      }
                    },
                    "total": {
                      "type": "integer"
                    },
                    "page": {
                      "type": "integer"
                    },
                    "pages": {
                      "type": "integer"
                    },
                    "links": {
                      "type": "object",
                      "properties": {
                        "first": {
                          "type": "object",
                          "properties": {
                            "href": {
                              "type": "string"
                            }
                          }
                        },
                        "last": {
                          "type": "object",
                          "properties": {
                            "href": {
                              "type": "string"
                            }
                          }
                        },
                        "prev": {
                          "type": "object",
                          "properties": {
                            "href": {
                              "type": "string"
                            }
                          }
                        },
                        "next": {
                          "type": "object",
                          "properties": {
                            "href": {
                              "type": "string"
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "description": "<aside class=\"access\" aria-label=\"Endpoint access\">\n      <table class=\"access__table\">\n        <thead>\n          <tr>\n            <th class=\"access__table-header\">Products</th>\n            <th class=\"access__table-header\">Plans</th>\n          </tr>\n        </thead>\n        <tbody>\n          <tr>\n            <td class=\"access__table-cell access__product\">\n              <img class=\"access__logo\" src=\"/static/logos/shipstation-api-logo.svg\" alt=\"ShipStation API Logo\" loading=\"lazy\" decoding=\"async\"/>\n              <div class=\"access__sub\">Formerly ShipEngine</div>\n            </td>\n            <td class=\"access__table-cell access__plans\">\n              <a href=\"/apis/@shipstation-v2/docs/getting-started/plans/shipstation-api-free.md\" class=\"access__plan\">Free</a>\n              <a href=\"/apis/@shipstation-v2/docs/getting-started/plans/shipstation-api-advanced-enterprise.md\" class=\"access__plan\">Advanced</a>\n              <a href=\"/apis/@shipstation-v2/docs/getting-started/plans/shipstation-api-advanced-enterprise.md\" class=\"access__plan\">Enterprise</a>\n            </td>\n          </tr>\n          <tr>\n            <td class=\"access__table-cell\">\n              <img class=\"access__logo\" src=\"/static/logos/shipstation-logo.svg\" alt=\"ShipStation Logo\" loading=\"lazy\" decoding=\"async\"/>\n            </td>\n            <td class=\"access__table-cell access__plans\">\n              <a href=\"/apis/@shipstation-v2/docs/getting-started/plans/shipstation-free-starter.md\" class=\"access__plan access__plan--off\">Free</a>\n              <a href=\"/apis/@shipstation-v2/docs/getting-started/plans/shipstation-free-starter.md\" class=\"access__plan access__plan--off\">Starter</a>\n              <a href=\"/apis/@shipstation-v2/docs/getting-started/plans/shipstation-standard-premium.md\" class=\"access__plan\">Standard</a>\n              <a href=\"/apis/@shipstation-v2/docs/getting-started/plans/shipstation-standard-premium.md\" class=\"access__plan\">Premium</a>\n            </td>\n          </tr>\n        </tbody>\n      </table>\n      <footer class=\"access__footer\">\n        <a class=\"access__help\" href=\"/apis/@shipstation-v2/docs/getting-started/products-and-plans.md\">\n          Learn about products and plans\n          <img src=\"/static/icons/external-link.svg\" alt=\"External Link Icon\" style=\"width: 16px;\" loading=\"lazy\" decoding=\"async\"/>\n        </a>\n      </footer>\n    </aside>\n\n"
      },
      "post": {
        "operationId": "updateSKUStockLevels",
        "summary": "Update SKU stock levels and related properties",
        "tags": [
          "inventory"
        ],
        "x-plan": [
          "ss-standard_and_premium_plans",
          "ss-api-free_plan",
          "ss-api-advanced_and_enterprise_plans"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "transaction_type",
                  "sku",
                  "quantity",
                  "inventory_location_id"
                ],
                "properties": {
                  "transaction_type": {
                    "description": "The type of update to perform:\n  increment: Increase inventory quantity for specified location.\n  decrement: Decreate inventory quantity for specified location given a set of filters.\n  adjust: Adjust on hand quantity of inventory for specified location to the quantity indicated. This is done by either adding or removing inventory in the condition specified.\n  modify: Modify attributes on specified inventory. The filters work the same as for decrement transaction type.\n",
                    "type": "string",
                    "enum": [
                      "increment",
                      "decrement",
                      "adjust",
                      "modify"
                    ]
                  },
                  "inventory_location_id": {
                    "type": "string"
                  },
                  "sku": {
                    "type": "string"
                  },
                  "quantity": {
                    "type": "integer"
                  },
                  "cost": {
                    "type": "object",
                    "properties": {
                      "amount": {
                        "type": "number"
                      },
                      "currency": {
                        "type": "string"
                      }
                    }
                  },
                  "condition": {
                    "type": "string",
                    "enum": [
                      "sellable",
                      "damaged",
                      "expired",
                      "qa_hold"
                    ]
                  },
                  "lot": {
                    "type": "string"
                  },
                  "usable_start_date": {
                    "type": "string",
                    "format": "date-time"
                  },
                  "usable_end_date": {
                    "type": "string",
                    "format": "date-time"
                  },
                  "effective_at": {
                    "type": "string",
                    "format": "date-time"
                  },
                  "reason": {
                    "type": "string"
                  },
                  "notes": {
                    "type": "string"
                  },
                  "new_inventory_location_id": {
                    "description": "Used with the modify transaction type to move inventory to a new location",
                    "type": "string"
                  },
                  "new_cost": {
                    "type": "object",
                    "description": "Used with the modify transaction type to update the cost of existing inventory",
                    "properties": {
                      "amount": {
                        "type": "number"
                      },
                      "currency": {
                        "type": "string"
                      }
                    }
                  },
                  "new_condition": {
                    "description": "Used with the modify transaction type to change the condition of existing inventory",
                    "type": "string",
                    "enum": [
                      "sellable",
                      "damaged",
                      "expired",
                      "qa_hold"
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "204": {
            "description": "Inventory successfully updated"
          }
        },
        "description": "<aside class=\"access\" aria-label=\"Endpoint access\">\n      <table class=\"access__table\">\n        <thead>\n          <tr>\n            <th class=\"access__table-header\">Products</th>\n            <th class=\"access__table-header\">Plans</th>\n          </tr>\n        </thead>\n        <tbody>\n          <tr>\n            <td class=\"access__table-cell access__product\">\n              <img class=\"access__logo\" src=\"/static/logos/shipstation-api-logo.svg\" alt=\"ShipStation API Logo\" loading=\"lazy\" decoding=\"async\"/>\n              <div class=\"access__sub\">Formerly ShipEngine</div>\n            </td>\n            <td class=\"access__table-cell access__plans\">\n              <a href=\"/apis/@shipstation-v2/docs/getting-started/plans/shipstation-api-free.md\" class=\"access__plan\">Free</a>\n              <a href=\"/apis/@shipstation-v2/docs/getting-started/plans/shipstation-api-advanced-enterprise.md\" class=\"access__plan\">Advanced</a>\n              <a href=\"/apis/@shipstation-v2/docs/getting-started/plans/shipstation-api-advanced-enterprise.md\" class=\"access__plan\">Enterprise</a>\n            </td>\n          </tr>\n          <tr>\n            <td class=\"access__table-cell\">\n              <img class=\"access__logo\" src=\"/static/logos/shipstation-logo.svg\" alt=\"ShipStation Logo\" loading=\"lazy\" decoding=\"async\"/>\n            </td>\n            <td class=\"access__table-cell access__plans\">\n              <a href=\"/apis/@shipstation-v2/docs/getting-started/plans/shipstation-free-starter.md\" class=\"access__plan access__plan--off\">Free</a>\n              <a href=\"/apis/@shipstation-v2/docs/getting-started/plans/shipstation-free-starter.md\" class=\"access__plan access__plan--off\">Starter</a>\n              <a href=\"/apis/@shipstation-v2/docs/getting-started/plans/shipstation-standard-premium.md\" class=\"access__plan\">Standard</a>\n              <a href=\"/apis/@shipstation-v2/docs/getting-started/plans/shipstation-standard-premium.md\" class=\"access__plan\">Premium</a>\n            </td>\n          </tr>\n        </tbody>\n      </table>\n      <footer class=\"access__footer\">\n        <a class=\"access__help\" href=\"/apis/@shipstation-v2/docs/getting-started/products-and-plans.md\">\n          Learn about products and plans\n          <img src=\"/static/icons/external-link.svg\" alt=\"External Link Icon\" style=\"width: 16px;\" loading=\"lazy\" decoding=\"async\"/>\n        </a>\n      </footer>\n    </aside>\n\n"
      }
    },
    "/v2/inventory_warehouses": {
      "get": {
        "operationId": "getInventoryWarehouses",
        "summary": "List all inventory warehouses",
        "tags": [
          "inventory"
        ],
        "x-plan": [
          "ss-standard_and_premium_plans",
          "ss-api-free_plan",
          "ss-api-advanced_and_enterprise_plans"
        ],
        "parameters": [
          {
            "name": "page_size",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of inventory warehouses",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "inventory_warehouses": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "inventory_warehouse_id": {
                            "type": "string"
                          },
                          "name": {
                            "type": "string"
                          },
                          "created_at": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "updated_at": {
                            "type": "string",
                            "format": "date-time"
                          }
                        }
                      }
                    },
                    "total": {
                      "type": "integer"
                    },
                    "page": {
                      "type": "integer"
                    },
                    "pages": {
                      "type": "integer"
                    },
                    "links": {
                      "type": "object",
                      "properties": {
                        "first": {
                          "type": "object",
                          "properties": {
                            "href": {
                              "type": "string"
                            }
                          }
                        },
                        "last": {
                          "type": "object",
                          "properties": {
                            "href": {
                              "type": "string"
                            }
                          }
                        },
                        "prev": {
                          "type": "object",
                          "properties": {
                            "href": {
                              "type": "string"
                            }
                          }
                        },
                        "next": {
                          "type": "object",
                          "properties": {
                            "href": {
                              "type": "string"
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "description": "<aside class=\"access\" aria-label=\"Endpoint access\">\n      <table class=\"access__table\">\n        <thead>\n          <tr>\n            <th class=\"access__table-header\">Products</th>\n            <th class=\"access__table-header\">Plans</th>\n          </tr>\n        </thead>\n        <tbody>\n          <tr>\n            <td class=\"access__table-cell access__product\">\n              <img class=\"access__logo\" src=\"/static/logos/shipstation-api-logo.svg\" alt=\"ShipStation API Logo\" loading=\"lazy\" decoding=\"async\"/>\n              <div class=\"access__sub\">Formerly ShipEngine</div>\n            </td>\n            <td class=\"access__table-cell access__plans\">\n              <a href=\"/apis/@shipstation-v2/docs/getting-started/plans/shipstation-api-free.md\" class=\"access__plan\">Free</a>\n              <a href=\"/apis/@shipstation-v2/docs/getting-started/plans/shipstation-api-advanced-enterprise.md\" class=\"access__plan\">Advanced</a>\n              <a href=\"/apis/@shipstation-v2/docs/getting-started/plans/shipstation-api-advanced-enterprise.md\" class=\"access__plan\">Enterprise</a>\n            </td>\n          </tr>\n          <tr>\n            <td class=\"access__table-cell\">\n              <img class=\"access__logo\" src=\"/static/logos/shipstation-logo.svg\" alt=\"ShipStation Logo\" loading=\"lazy\" decoding=\"async\"/>\n            </td>\n            <td class=\"access__table-cell access__plans\">\n              <a href=\"/apis/@shipstation-v2/docs/getting-started/plans/shipstation-free-starter.md\" class=\"access__plan access__plan--off\">Free</a>\n              <a href=\"/apis/@shipstation-v2/docs/getting-started/plans/shipstation-free-starter.md\" class=\"access__plan access__plan--off\">Starter</a>\n              <a href=\"/apis/@shipstation-v2/docs/getting-started/plans/shipstation-standard-premium.md\" class=\"access__plan\">Standard</a>\n              <a href=\"/apis/@shipstation-v2/docs/getting-started/plans/shipstation-standard-premium.md\" class=\"access__plan\">Premium</a>\n            </td>\n          </tr>\n        </tbody>\n      </table>\n      <footer class=\"access__footer\">\n        <a class=\"access__help\" href=\"/apis/@shipstation-v2/docs/getting-started/products-and-plans.md\">\n          Learn about products and plans\n          <img src=\"/static/icons/external-link.svg\" alt=\"External Link Icon\" style=\"width: 16px;\" loading=\"lazy\" decoding=\"async\"/>\n        </a>\n      </footer>\n    </aside>\n\n"
      },
      "post": {
        "operationId": "addNewInventoryWarehouse",
        "summary": "Create a new inventory warehouse",
        "tags": [
          "inventory"
        ],
        "x-plan": [
          "ss-standard_and_premium_plans",
          "ss-api-free_plan",
          "ss-api-advanced_and_enterprise_plans"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "name"
                ],
                "properties": {
                  "name": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Inventory warehouse successfully created",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "inventory_warehouse_id": {
                      "type": "string"
                    },
                    "name": {
                      "type": "string"
                    },
                    "created_at": {
                      "type": "string",
                      "format": "date-time"
                    },
                    "updated_at": {
                      "type": "string",
                      "format": "date-time"
                    }
                  }
                }
              }
            }
          }
        },
        "description": "<aside class=\"access\" aria-label=\"Endpoint access\">\n      <table class=\"access__table\">\n        <thead>\n          <tr>\n            <th class=\"access__table-header\">Products</th>\n            <th class=\"access__table-header\">Plans</th>\n          </tr>\n        </thead>\n        <tbody>\n          <tr>\n            <td class=\"access__table-cell access__product\">\n              <img class=\"access__logo\" src=\"/static/logos/shipstation-api-logo.svg\" alt=\"ShipStation API Logo\" loading=\"lazy\" decoding=\"async\"/>\n              <div class=\"access__sub\">Formerly ShipEngine</div>\n            </td>\n            <td class=\"access__table-cell access__plans\">\n              <a href=\"/apis/@shipstation-v2/docs/getting-started/plans/shipstation-api-free.md\" class=\"access__plan\">Free</a>\n              <a href=\"/apis/@shipstation-v2/docs/getting-started/plans/shipstation-api-advanced-enterprise.md\" class=\"access__plan\">Advanced</a>\n              <a href=\"/apis/@shipstation-v2/docs/getting-started/plans/shipstation-api-advanced-enterprise.md\" class=\"access__plan\">Enterprise</a>\n            </td>\n          </tr>\n          <tr>\n            <td class=\"access__table-cell\">\n              <img class=\"access__logo\" src=\"/static/logos/shipstation-logo.svg\" alt=\"ShipStation Logo\" loading=\"lazy\" decoding=\"async\"/>\n            </td>\n            <td class=\"access__table-cell access__plans\">\n              <a href=\"/apis/@shipstation-v2/docs/getting-started/plans/shipstation-free-starter.md\" class=\"access__plan access__plan--off\">Free</a>\n              <a href=\"/apis/@shipstation-v2/docs/getting-started/plans/shipstation-free-starter.md\" class=\"access__plan access__plan--off\">Starter</a>\n              <a href=\"/apis/@shipstation-v2/docs/getting-started/plans/shipstation-standard-premium.md\" class=\"access__plan\">Standard</a>\n              <a href=\"/apis/@shipstation-v2/docs/getting-started/plans/shipstation-standard-premium.md\" class=\"access__plan\">Premium</a>\n            </td>\n          </tr>\n        </tbody>\n      </table>\n      <footer class=\"access__footer\">\n        <a class=\"access__help\" href=\"/apis/@shipstation-v2/docs/getting-started/products-and-plans.md\">\n          Learn about products and plans\n          <img src=\"/static/icons/external-link.svg\" alt=\"External Link Icon\" style=\"width: 16px;\" loading=\"lazy\" decoding=\"async\"/>\n        </a>\n      </footer>\n    </aside>\n\n"
      }
    },
    "/v2/inventory_warehouses/{inventory_warehouse_id}": {
      "get": {
        "operationId": "getInventoryWarehouseById",
        "summary": "Get a specific inventory warehouse and related properties using its warehouse ID",
        "tags": [
          "inventory"
        ],
        "x-plan": [
          "ss-standard_and_premium_plans",
          "ss-api-free_plan",
          "ss-api-advanced_and_enterprise_plans"
        ],
        "parameters": [
          {
            "name": "inventory_warehouse_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Inventory warehouse details",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "inventory_warehouse_id": {
                      "type": "string"
                    },
                    "name": {
                      "type": "string"
                    },
                    "created_at": {
                      "type": "string",
                      "format": "date-time"
                    },
                    "updated_at": {
                      "type": "string",
                      "format": "date-time"
                    }
                  }
                }
              }
            }
          }
        },
        "description": "<aside class=\"access\" aria-label=\"Endpoint access\">\n      <table class=\"access__table\">\n        <thead>\n          <tr>\n            <th class=\"access__table-header\">Products</th>\n            <th class=\"access__table-header\">Plans</th>\n          </tr>\n        </thead>\n        <tbody>\n          <tr>\n            <td class=\"access__table-cell access__product\">\n              <img class=\"access__logo\" src=\"/static/logos/shipstation-api-logo.svg\" alt=\"ShipStation API Logo\" loading=\"lazy\" decoding=\"async\"/>\n              <div class=\"access__sub\">Formerly ShipEngine</div>\n            </td>\n            <td class=\"access__table-cell access__plans\">\n              <a href=\"/apis/@shipstation-v2/docs/getting-started/plans/shipstation-api-free.md\" class=\"access__plan\">Free</a>\n              <a href=\"/apis/@shipstation-v2/docs/getting-started/plans/shipstation-api-advanced-enterprise.md\" class=\"access__plan\">Advanced</a>\n              <a href=\"/apis/@shipstation-v2/docs/getting-started/plans/shipstation-api-advanced-enterprise.md\" class=\"access__plan\">Enterprise</a>\n            </td>\n          </tr>\n          <tr>\n            <td class=\"access__table-cell\">\n              <img class=\"access__logo\" src=\"/static/logos/shipstation-logo.svg\" alt=\"ShipStation Logo\" loading=\"lazy\" decoding=\"async\"/>\n            </td>\n            <td class=\"access__table-cell access__plans\">\n              <a href=\"/apis/@shipstation-v2/docs/getting-started/plans/shipstation-free-starter.md\" class=\"access__plan access__plan--off\">Free</a>\n              <a href=\"/apis/@shipstation-v2/docs/getting-started/plans/shipstation-free-starter.md\" class=\"access__plan access__plan--off\">Starter</a>\n              <a href=\"/apis/@shipstation-v2/docs/getting-started/plans/shipstation-standard-premium.md\" class=\"access__plan\">Standard</a>\n              <a href=\"/apis/@shipstation-v2/docs/getting-started/plans/shipstation-standard-premium.md\" class=\"access__plan\">Premium</a>\n            </td>\n          </tr>\n        </tbody>\n      </table>\n      <footer class=\"access__footer\">\n        <a class=\"access__help\" href=\"/apis/@shipstation-v2/docs/getting-started/products-and-plans.md\">\n          Learn about products and plans\n          <img src=\"/static/icons/external-link.svg\" alt=\"External Link Icon\" style=\"width: 16px;\" loading=\"lazy\" decoding=\"async\"/>\n        </a>\n      </footer>\n    </aside>\n\n"
      },
      "put": {
        "operationId": "updateInventoryWarehouse",
        "summary": "Update an inventory warehouse name",
        "tags": [
          "inventory"
        ],
        "x-plan": [
          "ss-standard_and_premium_plans",
          "ss-api-free_plan",
          "ss-api-advanced_and_enterprise_plans"
        ],
        "parameters": [
          {
            "name": "inventory_warehouse_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "204": {
            "description": "Inventory warehouse successfully updated"
          }
        },
        "description": "<aside class=\"access\" aria-label=\"Endpoint access\">\n      <table class=\"access__table\">\n        <thead>\n          <tr>\n            <th class=\"access__table-header\">Products</th>\n            <th class=\"access__table-header\">Plans</th>\n          </tr>\n        </thead>\n        <tbody>\n          <tr>\n            <td class=\"access__table-cell access__product\">\n              <img class=\"access__logo\" src=\"/static/logos/shipstation-api-logo.svg\" alt=\"ShipStation API Logo\" loading=\"lazy\" decoding=\"async\"/>\n              <div class=\"access__sub\">Formerly ShipEngine</div>\n            </td>\n            <td class=\"access__table-cell access__plans\">\n              <a href=\"/apis/@shipstation-v2/docs/getting-started/plans/shipstation-api-free.md\" class=\"access__plan\">Free</a>\n              <a href=\"/apis/@shipstation-v2/docs/getting-started/plans/shipstation-api-advanced-enterprise.md\" class=\"access__plan\">Advanced</a>\n              <a href=\"/apis/@shipstation-v2/docs/getting-started/plans/shipstation-api-advanced-enterprise.md\" class=\"access__plan\">Enterprise</a>\n            </td>\n          </tr>\n          <tr>\n            <td class=\"access__table-cell\">\n              <img class=\"access__logo\" src=\"/static/logos/shipstation-logo.svg\" alt=\"ShipStation Logo\" loading=\"lazy\" decoding=\"async\"/>\n            </td>\n            <td class=\"access__table-cell access__plans\">\n              <a href=\"/apis/@shipstation-v2/docs/getting-started/plans/shipstation-free-starter.md\" class=\"access__plan access__plan--off\">Free</a>\n              <a href=\"/apis/@shipstation-v2/docs/getting-started/plans/shipstation-free-starter.md\" class=\"access__plan access__plan--off\">Starter</a>\n              <a href=\"/apis/@shipstation-v2/docs/getting-started/plans/shipstation-standard-premium.md\" class=\"access__plan\">Standard</a>\n              <a href=\"/apis/@shipstation-v2/docs/getting-started/plans/shipstation-standard-premium.md\" class=\"access__plan\">Premium</a>\n            </td>\n          </tr>\n        </tbody>\n      </table>\n      <footer class=\"access__footer\">\n        <a class=\"access__help\" href=\"/apis/@shipstation-v2/docs/getting-started/products-and-plans.md\">\n          Learn about products and plans\n          <img src=\"/static/icons/external-link.svg\" alt=\"External Link Icon\" style=\"width: 16px;\" loading=\"lazy\" decoding=\"async\"/>\n        </a>\n      </footer>\n    </aside>\n\n"
      },
      "delete": {
        "operationId": "deleteInventoryWarehouse",
        "summary": "Delete an inventory warehouse",
        "tags": [
          "inventory"
        ],
        "x-plan": [
          "ss-standard_and_premium_plans",
          "ss-api-free_plan",
          "ss-api-advanced_and_enterprise_plans"
        ],
        "parameters": [
          {
            "name": "inventory_warehouse_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "remove_inventory",
            "in": "query",
            "required": false,
            "description": "If 1, remove all inventory from the warehouse before deleting it.\nIf 0 or missing and the warehouse has On Hand inventory, the request will fail.\n",
            "schema": {
              "type": "string",
              "enum": [
                "0",
                "1"
              ]
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Inventory warehouse successfully deleted"
          }
        },
        "description": "<aside class=\"access\" aria-label=\"Endpoint access\">\n      <table class=\"access__table\">\n        <thead>\n          <tr>\n            <th class=\"access__table-header\">Products</th>\n            <th class=\"access__table-header\">Plans</th>\n          </tr>\n        </thead>\n        <tbody>\n          <tr>\n            <td class=\"access__table-cell access__product\">\n              <img class=\"access__logo\" src=\"/static/logos/shipstation-api-logo.svg\" alt=\"ShipStation API Logo\" loading=\"lazy\" decoding=\"async\"/>\n              <div class=\"access__sub\">Formerly ShipEngine</div>\n            </td>\n            <td class=\"access__table-cell access__plans\">\n              <a href=\"/apis/@shipstation-v2/docs/getting-started/plans/shipstation-api-free.md\" class=\"access__plan\">Free</a>\n              <a href=\"/apis/@shipstation-v2/docs/getting-started/plans/shipstation-api-advanced-enterprise.md\" class=\"access__plan\">Advanced</a>\n              <a href=\"/apis/@shipstation-v2/docs/getting-started/plans/shipstation-api-advanced-enterprise.md\" class=\"access__plan\">Enterprise</a>\n            </td>\n          </tr>\n          <tr>\n            <td class=\"access__table-cell\">\n              <img class=\"access__logo\" src=\"/static/logos/shipstation-logo.svg\" alt=\"ShipStation Logo\" loading=\"lazy\" decoding=\"async\"/>\n            </td>\n            <td class=\"access__table-cell access__plans\">\n              <a href=\"/apis/@shipstation-v2/docs/getting-started/plans/shipstation-free-starter.md\" class=\"access__plan access__plan--off\">Free</a>\n              <a href=\"/apis/@shipstation-v2/docs/getting-started/plans/shipstation-free-starter.md\" class=\"access__plan access__plan--off\">Starter</a>\n              <a href=\"/apis/@shipstation-v2/docs/getting-started/plans/shipstation-standard-premium.md\" class=\"access__plan\">Standard</a>\n              <a href=\"/apis/@shipstation-v2/docs/getting-started/plans/shipstation-standard-premium.md\" class=\"access__plan\">Premium</a>\n            </td>\n          </tr>\n        </tbody>\n      </table>\n      <footer class=\"access__footer\">\n        <a class=\"access__help\" href=\"/apis/@shipstation-v2/docs/getting-started/products-and-plans.md\">\n          Learn about products and plans\n          <img src=\"/static/icons/external-link.svg\" alt=\"External Link Icon\" style=\"width: 16px;\" loading=\"lazy\" decoding=\"async\"/>\n        </a>\n      </footer>\n    </aside>\n\n"
      }
    },
    "/v2/inventory_locations": {
      "get": {
        "operationId": "listInventoryLocations",
        "summary": "List all inventory locations",
        "tags": [
          "inventory"
        ],
        "x-plan": [
          "ss-standard_and_premium_plans",
          "ss-api-free_plan",
          "ss-api-advanced_and_enterprise_plans"
        ],
        "parameters": [
          {
            "name": "page_size",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of inventory locations",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "inventory_locations": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "inventory_location_id": {
                            "type": "string"
                          },
                          "name": {
                            "type": "string"
                          },
                          "inventory_warehouse_id": {
                            "type": "string"
                          },
                          "created_at": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "updated_at": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "barcode": {
                            "type": "string",
                            "description": "Physical barcode label for warehouse location bins/shelves used during pick/pack operations",
                            "example": "1234567890"
                          }
                        }
                      }
                    },
                    "total": {
                      "type": "integer"
                    },
                    "page": {
                      "type": "integer"
                    },
                    "pages": {
                      "type": "integer"
                    },
                    "links": {
                      "type": "object",
                      "properties": {
                        "first": {
                          "type": "object",
                          "properties": {
                            "href": {
                              "type": "string"
                            }
                          }
                        },
                        "last": {
                          "type": "object",
                          "properties": {
                            "href": {
                              "type": "string"
                            }
                          }
                        },
                        "prev": {
                          "type": "object",
                          "properties": {
                            "href": {
                              "type": "string"
                            }
                          }
                        },
                        "next": {
                          "type": "object",
                          "properties": {
                            "href": {
                              "type": "string"
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "description": "<aside class=\"access\" aria-label=\"Endpoint access\">\n      <table class=\"access__table\">\n        <thead>\n          <tr>\n            <th class=\"access__table-header\">Products</th>\n            <th class=\"access__table-header\">Plans</th>\n          </tr>\n        </thead>\n        <tbody>\n          <tr>\n            <td class=\"access__table-cell access__product\">\n              <img class=\"access__logo\" src=\"/static/logos/shipstation-api-logo.svg\" alt=\"ShipStation API Logo\" loading=\"lazy\" decoding=\"async\"/>\n              <div class=\"access__sub\">Formerly ShipEngine</div>\n            </td>\n            <td class=\"access__table-cell access__plans\">\n              <a href=\"/apis/@shipstation-v2/docs/getting-started/plans/shipstation-api-free.md\" class=\"access__plan\">Free</a>\n              <a href=\"/apis/@shipstation-v2/docs/getting-started/plans/shipstation-api-advanced-enterprise.md\" class=\"access__plan\">Advanced</a>\n              <a href=\"/apis/@shipstation-v2/docs/getting-started/plans/shipstation-api-advanced-enterprise.md\" class=\"access__plan\">Enterprise</a>\n            </td>\n          </tr>\n          <tr>\n            <td class=\"access__table-cell\">\n              <img class=\"access__logo\" src=\"/static/logos/shipstation-logo.svg\" alt=\"ShipStation Logo\" loading=\"lazy\" decoding=\"async\"/>\n            </td>\n            <td class=\"access__table-cell access__plans\">\n              <a href=\"/apis/@shipstation-v2/docs/getting-started/plans/shipstation-free-starter.md\" class=\"access__plan access__plan--off\">Free</a>\n              <a href=\"/apis/@shipstation-v2/docs/getting-started/plans/shipstation-free-starter.md\" class=\"access__plan access__plan--off\">Starter</a>\n              <a href=\"/apis/@shipstation-v2/docs/getting-started/plans/shipstation-standard-premium.md\" class=\"access__plan\">Standard</a>\n              <a href=\"/apis/@shipstation-v2/docs/getting-started/plans/shipstation-standard-premium.md\" class=\"access__plan\">Premium</a>\n            </td>\n          </tr>\n        </tbody>\n      </table>\n      <footer class=\"access__footer\">\n        <a class=\"access__help\" href=\"/apis/@shipstation-v2/docs/getting-started/products-and-plans.md\">\n          Learn about products and plans\n          <img src=\"/static/icons/external-link.svg\" alt=\"External Link Icon\" style=\"width: 16px;\" loading=\"lazy\" decoding=\"async\"/>\n        </a>\n      </footer>\n    </aside>\n\n"
      },
      "post": {
        "operationId": "createInventoryLocation",
        "summary": "Create a new inventory location",
        "tags": [
          "inventory"
        ],
        "x-plan": [
          "ss-standard_and_premium_plans",
          "ss-api-free_plan",
          "ss-api-advanced_and_enterprise_plans"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "name",
                  "inventory_warehouse_id"
                ],
                "properties": {
                  "name": {
                    "type": "string"
                  },
                  "inventory_warehouse_id": {
                    "type": "string"
                  },
                  "barcode": {
                    "type": "string",
                    "description": "Physical barcode label for warehouse location bins/shelves used during pick/pack operations. Optional field that accepts any string format.",
                    "example": "1234567890"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Inventory location successfully created",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "inventory_location_id": {
                      "type": "string"
                    },
                    "name": {
                      "type": "string"
                    },
                    "inventory_warehouse_id": {
                      "type": "string"
                    },
                    "created_at": {
                      "type": "string",
                      "format": "date-time"
                    },
                    "updated_at": {
                      "type": "string",
                      "format": "date-time"
                    },
                    "barcode": {
                      "type": "string",
                      "description": "Physical barcode label for warehouse location bins/shelves used during pick/pack operations",
                      "example": "1234567890"
                    }
                  }
                }
              }
            }
          }
        },
        "description": "<aside class=\"access\" aria-label=\"Endpoint access\">\n      <table class=\"access__table\">\n        <thead>\n          <tr>\n            <th class=\"access__table-header\">Products</th>\n            <th class=\"access__table-header\">Plans</th>\n          </tr>\n        </thead>\n        <tbody>\n          <tr>\n            <td class=\"access__table-cell access__product\">\n              <img class=\"access__logo\" src=\"/static/logos/shipstation-api-logo.svg\" alt=\"ShipStation API Logo\" loading=\"lazy\" decoding=\"async\"/>\n              <div class=\"access__sub\">Formerly ShipEngine</div>\n            </td>\n            <td class=\"access__table-cell access__plans\">\n              <a href=\"/apis/@shipstation-v2/docs/getting-started/plans/shipstation-api-free.md\" class=\"access__plan\">Free</a>\n              <a href=\"/apis/@shipstation-v2/docs/getting-started/plans/shipstation-api-advanced-enterprise.md\" class=\"access__plan\">Advanced</a>\n              <a href=\"/apis/@shipstation-v2/docs/getting-started/plans/shipstation-api-advanced-enterprise.md\" class=\"access__plan\">Enterprise</a>\n            </td>\n          </tr>\n          <tr>\n            <td class=\"access__table-cell\">\n              <img class=\"access__logo\" src=\"/static/logos/shipstation-logo.svg\" alt=\"ShipStation Logo\" loading=\"lazy\" decoding=\"async\"/>\n            </td>\n            <td class=\"access__table-cell access__plans\">\n              <a href=\"/apis/@shipstation-v2/docs/getting-started/plans/shipstation-free-starter.md\" class=\"access__plan access__plan--off\">Free</a>\n              <a href=\"/apis/@shipstation-v2/docs/getting-started/plans/shipstation-free-starter.md\" class=\"access__plan access__plan--off\">Starter</a>\n              <a href=\"/apis/@shipstation-v2/docs/getting-started/plans/shipstation-standard-premium.md\" class=\"access__plan\">Standard</a>\n              <a href=\"/apis/@shipstation-v2/docs/getting-started/plans/shipstation-standard-premium.md\" class=\"access__plan\">Premium</a>\n            </td>\n          </tr>\n        </tbody>\n      </table>\n      <footer class=\"access__footer\">\n        <a class=\"access__help\" href=\"/apis/@shipstation-v2/docs/getting-started/products-and-plans.md\">\n          Learn about products and plans\n          <img src=\"/static/icons/external-link.svg\" alt=\"External Link Icon\" style=\"width: 16px;\" loading=\"lazy\" decoding=\"async\"/>\n        </a>\n      </footer>\n    </aside>\n\n"
      }
    },
    "/v2/inventory_locations/{inventory_location_id}": {
      "get": {
        "operationId": "getInventoryLocationById",
        "summary": "Get inventory location by ID",
        "tags": [
          "inventory"
        ],
        "x-plan": [
          "ss-standard_and_premium_plans",
          "ss-api-free_plan",
          "ss-api-advanced_and_enterprise_plans"
        ],
        "parameters": [
          {
            "name": "inventory_location_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Inventory location details",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "inventory_location_id": {
                      "type": "string"
                    },
                    "name": {
                      "type": "string"
                    },
                    "inventory_warehouse_id": {
                      "type": "string"
                    },
                    "created_at": {
                      "type": "string",
                      "format": "date-time"
                    },
                    "updated_at": {
                      "type": "string",
                      "format": "date-time"
                    },
                    "barcode": {
                      "type": "string",
                      "description": "Physical barcode label for warehouse location bins/shelves used during pick/pack operations",
                      "example": "1234567890"
                    }
                  }
                }
              }
            }
          }
        },
        "description": "<aside class=\"access\" aria-label=\"Endpoint access\">\n      <table class=\"access__table\">\n        <thead>\n          <tr>\n            <th class=\"access__table-header\">Products</th>\n            <th class=\"access__table-header\">Plans</th>\n          </tr>\n        </thead>\n        <tbody>\n          <tr>\n            <td class=\"access__table-cell access__product\">\n              <img class=\"access__logo\" src=\"/static/logos/shipstation-api-logo.svg\" alt=\"ShipStation API Logo\" loading=\"lazy\" decoding=\"async\"/>\n              <div class=\"access__sub\">Formerly ShipEngine</div>\n            </td>\n            <td class=\"access__table-cell access__plans\">\n              <a href=\"/apis/@shipstation-v2/docs/getting-started/plans/shipstation-api-free.md\" class=\"access__plan\">Free</a>\n              <a href=\"/apis/@shipstation-v2/docs/getting-started/plans/shipstation-api-advanced-enterprise.md\" class=\"access__plan\">Advanced</a>\n              <a href=\"/apis/@shipstation-v2/docs/getting-started/plans/shipstation-api-advanced-enterprise.md\" class=\"access__plan\">Enterprise</a>\n            </td>\n          </tr>\n          <tr>\n            <td class=\"access__table-cell\">\n              <img class=\"access__logo\" src=\"/static/logos/shipstation-logo.svg\" alt=\"ShipStation Logo\" loading=\"lazy\" decoding=\"async\"/>\n            </td>\n            <td class=\"access__table-cell access__plans\">\n              <a href=\"/apis/@shipstation-v2/docs/getting-started/plans/shipstation-free-starter.md\" class=\"access__plan access__plan--off\">Free</a>\n              <a href=\"/apis/@shipstation-v2/docs/getting-started/plans/shipstation-free-starter.md\" class=\"access__plan access__plan--off\">Starter</a>\n              <a href=\"/apis/@shipstation-v2/docs/getting-started/plans/shipstation-standard-premium.md\" class=\"access__plan\">Standard</a>\n              <a href=\"/apis/@shipstation-v2/docs/getting-started/plans/shipstation-standard-premium.md\" class=\"access__plan\">Premium</a>\n            </td>\n          </tr>\n        </tbody>\n      </table>\n      <footer class=\"access__footer\">\n        <a class=\"access__help\" href=\"/apis/@shipstation-v2/docs/getting-started/products-and-plans.md\">\n          Learn about products and plans\n          <img src=\"/static/icons/external-link.svg\" alt=\"External Link Icon\" style=\"width: 16px;\" loading=\"lazy\" decoding=\"async\"/>\n        </a>\n      </footer>\n    </aside>\n\n"
      },
      "put": {
        "operationId": "updateInventoryLocation",
        "summary": "Update an inventory location",
        "tags": [
          "inventory"
        ],
        "x-plan": [
          "ss-standard_and_premium_plans",
          "ss-api-free_plan",
          "ss-api-advanced_and_enterprise_plans"
        ],
        "parameters": [
          {
            "name": "inventory_location_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string"
                  },
                  "barcode": {
                    "type": "string",
                    "description": "Physical barcode label for warehouse location bins/shelves used during pick/pack operations. Optional field that accepts any string format.",
                    "example": "1234567890"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "204": {
            "description": "Inventory location successfully updated"
          }
        },
        "description": "<aside class=\"access\" aria-label=\"Endpoint access\">\n      <table class=\"access__table\">\n        <thead>\n          <tr>\n            <th class=\"access__table-header\">Products</th>\n            <th class=\"access__table-header\">Plans</th>\n          </tr>\n        </thead>\n        <tbody>\n          <tr>\n            <td class=\"access__table-cell access__product\">\n              <img class=\"access__logo\" src=\"/static/logos/shipstation-api-logo.svg\" alt=\"ShipStation API Logo\" loading=\"lazy\" decoding=\"async\"/>\n              <div class=\"access__sub\">Formerly ShipEngine</div>\n            </td>\n            <td class=\"access__table-cell access__plans\">\n              <a href=\"/apis/@shipstation-v2/docs/getting-started/plans/shipstation-api-free.md\" class=\"access__plan\">Free</a>\n              <a href=\"/apis/@shipstation-v2/docs/getting-started/plans/shipstation-api-advanced-enterprise.md\" class=\"access__plan\">Advanced</a>\n              <a href=\"/apis/@shipstation-v2/docs/getting-started/plans/shipstation-api-advanced-enterprise.md\" class=\"access__plan\">Enterprise</a>\n            </td>\n          </tr>\n          <tr>\n            <td class=\"access__table-cell\">\n              <img class=\"access__logo\" src=\"/static/logos/shipstation-logo.svg\" alt=\"ShipStation Logo\" loading=\"lazy\" decoding=\"async\"/>\n            </td>\n            <td class=\"access__table-cell access__plans\">\n              <a href=\"/apis/@shipstation-v2/docs/getting-started/plans/shipstation-free-starter.md\" class=\"access__plan access__plan--off\">Free</a>\n              <a href=\"/apis/@shipstation-v2/docs/getting-started/plans/shipstation-free-starter.md\" class=\"access__plan access__plan--off\">Starter</a>\n              <a href=\"/apis/@shipstation-v2/docs/getting-started/plans/shipstation-standard-premium.md\" class=\"access__plan\">Standard</a>\n              <a href=\"/apis/@shipstation-v2/docs/getting-started/plans/shipstation-standard-premium.md\" class=\"access__plan\">Premium</a>\n            </td>\n          </tr>\n        </tbody>\n      </table>\n      <footer class=\"access__footer\">\n        <a class=\"access__help\" href=\"/apis/@shipstation-v2/docs/getting-started/products-and-plans.md\">\n          Learn about products and plans\n          <img src=\"/static/icons/external-link.svg\" alt=\"External Link Icon\" style=\"width: 16px;\" loading=\"lazy\" decoding=\"async\"/>\n        </a>\n      </footer>\n    </aside>\n\n"
      },
      "delete": {
        "operationId": "deleteInventoryLocationById",
        "summary": "Delete an inventory location",
        "tags": [
          "inventory"
        ],
        "x-plan": [
          "ss-standard_and_premium_plans",
          "ss-api-free_plan",
          "ss-api-advanced_and_enterprise_plans"
        ],
        "parameters": [
          {
            "name": "inventory_location_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "remove_inventory",
            "in": "query",
            "description": "If 1, remove all inventory from the location before deleting it.\nIf 0 or missing and the location has On Hand inventory, the request will fail.\n",
            "schema": {
              "type": "string",
              "enum": [
                "0",
                "1"
              ]
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Inventory location successfully deleted"
          }
        },
        "description": "<aside class=\"access\" aria-label=\"Endpoint access\">\n      <table class=\"access__table\">\n        <thead>\n          <tr>\n            <th class=\"access__table-header\">Products</th>\n            <th class=\"access__table-header\">Plans</th>\n          </tr>\n        </thead>\n        <tbody>\n          <tr>\n            <td class=\"access__table-cell access__product\">\n              <img class=\"access__logo\" src=\"/static/logos/shipstation-api-logo.svg\" alt=\"ShipStation API Logo\" loading=\"lazy\" decoding=\"async\"/>\n              <div class=\"access__sub\">Formerly ShipEngine</div>\n            </td>\n            <td class=\"access__table-cell access__plans\">\n              <a href=\"/apis/@shipstation-v2/docs/getting-started/plans/shipstation-api-free.md\" class=\"access__plan\">Free</a>\n              <a href=\"/apis/@shipstation-v2/docs/getting-started/plans/shipstation-api-advanced-enterprise.md\" class=\"access__plan\">Advanced</a>\n              <a href=\"/apis/@shipstation-v2/docs/getting-started/plans/shipstation-api-advanced-enterprise.md\" class=\"access__plan\">Enterprise</a>\n            </td>\n          </tr>\n          <tr>\n            <td class=\"access__table-cell\">\n              <img class=\"access__logo\" src=\"/static/logos/shipstation-logo.svg\" alt=\"ShipStation Logo\" loading=\"lazy\" decoding=\"async\"/>\n            </td>\n            <td class=\"access__table-cell access__plans\">\n              <a href=\"/apis/@shipstation-v2/docs/getting-started/plans/shipstation-free-starter.md\" class=\"access__plan access__plan--off\">Free</a>\n              <a href=\"/apis/@shipstation-v2/docs/getting-started/plans/shipstation-free-starter.md\" class=\"access__plan access__plan--off\">Starter</a>\n              <a href=\"/apis/@shipstation-v2/docs/getting-started/plans/shipstation-standard-premium.md\" class=\"access__plan\">Standard</a>\n              <a href=\"/apis/@shipstation-v2/docs/getting-started/plans/shipstation-standard-premium.md\" class=\"access__plan\">Premium</a>\n            </td>\n          </tr>\n        </tbody>\n      </table>\n      <footer class=\"access__footer\">\n        <a class=\"access__help\" href=\"/apis/@shipstation-v2/docs/getting-started/products-and-plans.md\">\n          Learn about products and plans\n          <img src=\"/static/icons/external-link.svg\" alt=\"External Link Icon\" style=\"width: 16px;\" loading=\"lazy\" decoding=\"async\"/>\n        </a>\n      </footer>\n    </aside>\n\n"
      }
    },
    "/v2/batches": {
      "x-visibility": "public",
      "summary": "Batches",
      "description": "Batches are an advanced feature designed for those who need to generate hundreds or thousands of labels at a time.\nWhen ShipStation generates labels it relies on many carriers dependencies and variables to fulfill your requests, which can take a few minutes. Using batches reduces this time significantly for those with high label volume.\n",
      "get": {
        "summary": "List batches",
        "description": "<aside class=\"access\" aria-label=\"Endpoint access\">\n      <table class=\"access__table\">\n        <thead>\n          <tr>\n            <th class=\"access__table-header\">Products</th>\n            <th class=\"access__table-header\">Plans</th>\n          </tr>\n        </thead>\n        <tbody>\n          <tr>\n            <td class=\"access__table-cell access__product\">\n              <img class=\"access__logo\" src=\"/static/logos/shipstation-api-logo.svg\" alt=\"ShipStation API Logo\" loading=\"lazy\" decoding=\"async\"/>\n              <div class=\"access__sub\">Formerly ShipEngine</div>\n            </td>\n            <td class=\"access__table-cell access__plans\">\n              <a href=\"/apis/@shipstation-v2/docs/getting-started/plans/shipstation-api-free.md\" class=\"access__plan\">Free</a>\n              <a href=\"/apis/@shipstation-v2/docs/getting-started/plans/shipstation-api-advanced-enterprise.md\" class=\"access__plan\">Advanced</a>\n              <a href=\"/apis/@shipstation-v2/docs/getting-started/plans/shipstation-api-advanced-enterprise.md\" class=\"access__plan\">Enterprise</a>\n            </td>\n          </tr>\n          <tr>\n            <td class=\"access__table-cell\">\n              <img class=\"access__logo\" src=\"/static/logos/shipstation-logo.svg\" alt=\"ShipStation Logo\" loading=\"lazy\" decoding=\"async\"/>\n            </td>\n            <td class=\"access__table-cell access__plans\">\n              <a href=\"/apis/@shipstation-v2/docs/getting-started/plans/shipstation-free-starter.md\" class=\"access__plan access__plan--off\">Free</a>\n              <a href=\"/apis/@shipstation-v2/docs/getting-started/plans/shipstation-free-starter.md\" class=\"access__plan access__plan--off\">Starter</a>\n              <a href=\"/apis/@shipstation-v2/docs/getting-started/plans/shipstation-standard-premium.md\" class=\"access__plan\">Standard</a>\n              <a href=\"/apis/@shipstation-v2/docs/getting-started/plans/shipstation-standard-premium.md\" class=\"access__plan\">Premium</a>\n            </td>\n          </tr>\n        </tbody>\n      </table>\n      <footer class=\"access__footer\">\n        <a class=\"access__help\" href=\"/apis/@shipstation-v2/docs/getting-started/products-and-plans.md\">\n          Learn about products and plans\n          <img src=\"/static/icons/external-link.svg\" alt=\"External Link Icon\" style=\"width: 16px;\" loading=\"lazy\" decoding=\"async\"/>\n        </a>\n      </footer>\n    </aside>\n\nList the batches associated with your ShipStation account.\n",
        "operationId": "list_batches",
        "tags": [
          "batches"
        ],
        "x-plan": [
          "ss-api-free_plan",
          "ss-standard_and_premium_plans",
          "ss-api-advanced_and_enterprise_plans"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/batch_status_query_param"
          },
          {
            "$ref": "#/components/parameters/page_query_param"
          },
          {
            "$ref": "#/components/parameters/page_size_query_param"
          },
          {
            "$ref": "#/components/parameters/sort_dir_query_param"
          },
          {
            "$ref": "#/components/parameters/batch_number_query_param"
          },
          {
            "name": "sort_by",
            "in": "query",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/batches_sort_by"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The request was a success.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListBatchesResponseBody"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      },
      "post": {
        "summary": "Create a batch",
        "description": "<aside class=\"access\" aria-label=\"Endpoint access\">\n      <table class=\"access__table\">\n        <thead>\n          <tr>\n            <th class=\"access__table-header\">Products</th>\n            <th class=\"access__table-header\">Plans</th>\n          </tr>\n        </thead>\n        <tbody>\n          <tr>\n            <td class=\"access__table-cell access__product\">\n              <img class=\"access__logo\" src=\"/static/logos/shipstation-api-logo.svg\" alt=\"ShipStation API Logo\" loading=\"lazy\" decoding=\"async\"/>\n              <div class=\"access__sub\">Formerly ShipEngine</div>\n            </td>\n            <td class=\"access__table-cell access__plans\">\n              <a href=\"/apis/@shipstation-v2/docs/getting-started/plans/shipstation-api-free.md\" class=\"access__plan\">Free</a>\n              <a href=\"/apis/@shipstation-v2/docs/getting-started/plans/shipstation-api-advanced-enterprise.md\" class=\"access__plan\">Advanced</a>\n              <a href=\"/apis/@shipstation-v2/docs/getting-started/plans/shipstation-api-advanced-enterprise.md\" class=\"access__plan\">Enterprise</a>\n            </td>\n          </tr>\n          <tr>\n            <td class=\"access__table-cell\">\n              <img class=\"access__logo\" src=\"/static/logos/shipstation-logo.svg\" alt=\"ShipStation Logo\" loading=\"lazy\" decoding=\"async\"/>\n            </td>\n            <td class=\"access__table-cell access__plans\">\n              <a href=\"/apis/@shipstation-v2/docs/getting-started/plans/shipstation-free-starter.md\" class=\"access__plan access__plan--off\">Free</a>\n              <a href=\"/apis/@shipstation-v2/docs/getting-started/plans/shipstation-free-starter.md\" class=\"access__plan access__plan--off\">Starter</a>\n              <a href=\"/apis/@shipstation-v2/docs/getting-started/plans/shipstation-standard-premium.md\" class=\"access__plan\">Standard</a>\n              <a href=\"/apis/@shipstation-v2/docs/getting-started/plans/shipstation-standard-premium.md\" class=\"access__plan\">Premium</a>\n            </td>\n          </tr>\n        </tbody>\n      </table>\n      <footer class=\"access__footer\">\n        <a class=\"access__help\" href=\"/apis/@shipstation-v2/docs/getting-started/products-and-plans.md\">\n          Learn about products and plans\n          <img src=\"/static/icons/external-link.svg\" alt=\"External Link Icon\" style=\"width: 16px;\" loading=\"lazy\" decoding=\"async\"/>\n        </a>\n      </footer>\n    </aside>\n\nCreate a batch containing multiple labels.",
        "tags": [
          "batches"
        ],
        "x-plan": [
          "ss-standard_and_premium_plans",
          "ss-api-free_plan",
          "ss-api-advanced_and_enterprise_plans"
        ],
        "operationId": "create_batch",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "title": "create_batch_request",
                "oneOf": [
                  {
                    "$ref": "#/components/schemas/create_batch_request_body"
                  },
                  {
                    "$ref": "#/components/schemas/create_and_process_batch_request_body"
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The requested object creation was a success.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateBatchResponseBody"
                }
              }
            }
          },
          "207": {
            "description": "The request was a partial success. It contains results, as well as processing errors.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateBatchResponseBody"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/v2/batches/external_batch_id/{external_batch_id}": {
      "x-visibility": "public",
      "summary": "External batch id",
      "description": "An external batch identifier",
      "parameters": [
        {
          "$ref": "#/components/parameters/external_batch_id_path_param"
        }
      ],
      "get": {
        "summary": "Get batch by external id",
        "description": "<aside class=\"access\" aria-label=\"Endpoint access\">\n      <table class=\"access__table\">\n        <thead>\n          <tr>\n            <th class=\"access__table-header\">Products</th>\n            <th class=\"access__table-header\">Plans</th>\n          </tr>\n        </thead>\n        <tbody>\n          <tr>\n            <td class=\"access__table-cell access__product\">\n              <img class=\"access__logo\" src=\"/static/logos/shipstation-api-logo.svg\" alt=\"ShipStation API Logo\" loading=\"lazy\" decoding=\"async\"/>\n              <div class=\"access__sub\">Formerly ShipEngine</div>\n            </td>\n            <td class=\"access__table-cell access__plans\">\n              <a href=\"/apis/@shipstation-v2/docs/getting-started/plans/shipstation-api-free.md\" class=\"access__plan\">Free</a>\n              <a href=\"/apis/@shipstation-v2/docs/getting-started/plans/shipstation-api-advanced-enterprise.md\" class=\"access__plan\">Advanced</a>\n              <a href=\"/apis/@shipstation-v2/docs/getting-started/plans/shipstation-api-advanced-enterprise.md\" class=\"access__plan\">Enterprise</a>\n            </td>\n          </tr>\n          <tr>\n            <td class=\"access__table-cell\">\n              <img class=\"access__logo\" src=\"/static/logos/shipstation-logo.svg\" alt=\"ShipStation Logo\" loading=\"lazy\" decoding=\"async\"/>\n            </td>\n            <td class=\"access__table-cell access__plans\">\n              <a href=\"/apis/@shipstation-v2/docs/getting-started/plans/shipstation-free-starter.md\" class=\"access__plan access__plan--off\">Free</a>\n              <a href=\"/apis/@shipstation-v2/docs/getting-started/plans/shipstation-free-starter.md\" class=\"access__plan access__plan--off\">Starter</a>\n              <a href=\"/apis/@shipstation-v2/docs/getting-started/plans/shipstation-standard-premium.md\" class=\"access__plan\">Standard</a>\n              <a href=\"/apis/@shipstation-v2/docs/getting-started/plans/shipstation-standard-premium.md\" class=\"access__plan\">Premium</a>\n            </td>\n          </tr>\n        </tbody>\n      </table>\n      <footer class=\"access__footer\">\n        <a class=\"access__help\" href=\"/apis/@shipstation-v2/docs/getting-started/products-and-plans.md\">\n          Learn about products and plans\n          <img src=\"/static/icons/external-link.svg\" alt=\"External Link Icon\" style=\"width: 16px;\" loading=\"lazy\" decoding=\"async\"/>\n        </a>\n      </footer>\n    </aside>\n\nRetreive a batch using an external batch ID",
        "tags": [
          "batches"
        ],
        "x-plan": [
          "ss-standard_and_premium_plans",
          "ss-api-free_plan",
          "ss-api-advanced_and_enterprise_plans"
        ],
        "operationId": "get_batch_by_external_id",
        "responses": {
          "200": {
            "description": "The request was a success.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/get_batch_by_external_id_response_body"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "description": "The API returns a 404 response when no `batch` corresponds to the `external_batch_id` provided.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error_response_body"
                }
              }
            }
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/v2/batches/{batch_id}": {
      "x-visibility": "public",
      "summary": "Batch by id",
      "description": "Check the status of your batch by retrieving it with a batch id.",
      "parameters": [
        {
          "$ref": "#/components/parameters/batch_id_path_param"
        }
      ],
      "delete": {
        "summary": "Delete batch by id",
        "description": "<aside class=\"access\" aria-label=\"Endpoint access\">\n      <table class=\"access__table\">\n        <thead>\n          <tr>\n            <th class=\"access__table-header\">Products</th>\n            <th class=\"access__table-header\">Plans</th>\n          </tr>\n        </thead>\n        <tbody>\n          <tr>\n            <td class=\"access__table-cell access__product\">\n              <img class=\"access__logo\" src=\"/static/logos/shipstation-api-logo.svg\" alt=\"ShipStation API Logo\" loading=\"lazy\" decoding=\"async\"/>\n              <div class=\"access__sub\">Formerly ShipEngine</div>\n            </td>\n            <td class=\"access__table-cell access__plans\">\n              <a href=\"/apis/@shipstation-v2/docs/getting-started/plans/shipstation-api-free.md\" class=\"access__plan\">Free</a>\n              <a href=\"/apis/@shipstation-v2/docs/getting-started/plans/shipstation-api-advanced-enterprise.md\" class=\"access__plan\">Advanced</a>\n              <a href=\"/apis/@shipstation-v2/docs/getting-started/plans/shipstation-api-advanced-enterprise.md\" class=\"access__plan\">Enterprise</a>\n            </td>\n          </tr>\n          <tr>\n            <td class=\"access__table-cell\">\n              <img class=\"access__logo\" src=\"/static/logos/shipstation-logo.svg\" alt=\"ShipStation Logo\" loading=\"lazy\" decoding=\"async\"/>\n            </td>\n            <td class=\"access__table-cell access__plans\">\n              <a href=\"/apis/@shipstation-v2/docs/getting-started/plans/shipstation-free-starter.md\" class=\"access__plan access__plan--off\">Free</a>\n              <a href=\"/apis/@shipstation-v2/docs/getting-started/plans/shipstation-free-starter.md\" class=\"access__plan access__plan--off\">Starter</a>\n              <a href=\"/apis/@shipstation-v2/docs/getting-started/plans/shipstation-standard-premium.md\" class=\"access__plan\">Standard</a>\n              <a href=\"/apis/@shipstation-v2/docs/getting-started/plans/shipstation-standard-premium.md\" class=\"access__plan\">Premium</a>\n            </td>\n          </tr>\n        </tbody>\n      </table>\n      <footer class=\"access__footer\">\n        <a class=\"access__help\" href=\"/apis/@shipstation-v2/docs/getting-started/products-and-plans.md\">\n          Learn about products and plans\n          <img src=\"/static/icons/external-link.svg\" alt=\"External Link Icon\" style=\"width: 16px;\" loading=\"lazy\" decoding=\"async\"/>\n        </a>\n      </footer>\n    </aside>\n\nDelete a batch based on its batch id. Sets its status to 'archived'.",
        "operationId": "delete_batch",
        "tags": [
          "batches"
        ],
        "x-plan": [
          "ss-standard_and_premium_plans",
          "ss-api-free_plan",
          "ss-api-advanced_and_enterprise_plans"
        ],
        "responses": {
          "204": {
            "$ref": "#/components/responses/NoContent"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      },
      "get": {
        "summary": "Get batch by id",
        "description": "<aside class=\"access\" aria-label=\"Endpoint access\">\n      <table class=\"access__table\">\n        <thead>\n          <tr>\n            <th class=\"access__table-header\">Products</th>\n            <th class=\"access__table-header\">Plans</th>\n          </tr>\n        </thead>\n        <tbody>\n          <tr>\n            <td class=\"access__table-cell access__product\">\n              <img class=\"access__logo\" src=\"/static/logos/shipstation-api-logo.svg\" alt=\"ShipStation API Logo\" loading=\"lazy\" decoding=\"async\"/>\n              <div class=\"access__sub\">Formerly ShipEngine</div>\n            </td>\n            <td class=\"access__table-cell access__plans\">\n              <a href=\"/apis/@shipstation-v2/docs/getting-started/plans/shipstation-api-free.md\" class=\"access__plan\">Free</a>\n              <a href=\"/apis/@shipstation-v2/docs/getting-started/plans/shipstation-api-advanced-enterprise.md\" class=\"access__plan\">Advanced</a>\n              <a href=\"/apis/@shipstation-v2/docs/getting-started/plans/shipstation-api-advanced-enterprise.md\" class=\"access__plan\">Enterprise</a>\n            </td>\n          </tr>\n          <tr>\n            <td class=\"access__table-cell\">\n              <img class=\"access__logo\" src=\"/static/logos/shipstation-logo.svg\" alt=\"ShipStation Logo\" loading=\"lazy\" decoding=\"async\"/>\n            </td>\n            <td class=\"access__table-cell access__plans\">\n              <a href=\"/apis/@shipstation-v2/docs/getting-started/plans/shipstation-free-starter.md\" class=\"access__plan access__plan--off\">Free</a>\n              <a href=\"/apis/@shipstation-v2/docs/getting-started/plans/shipstation-free-starter.md\" class=\"access__plan access__plan--off\">Starter</a>\n              <a href=\"/apis/@shipstation-v2/docs/getting-started/plans/shipstation-standard-premium.md\" class=\"access__plan\">Standard</a>\n              <a href=\"/apis/@shipstation-v2/docs/getting-started/plans/shipstation-standard-premium.md\" class=\"access__plan\">Premium</a>\n            </td>\n          </tr>\n        </tbody>\n      </table>\n      <footer class=\"access__footer\">\n        <a class=\"access__help\" href=\"/apis/@shipstation-v2/docs/getting-started/products-and-plans.md\">\n          Learn about products and plans\n          <img src=\"/static/icons/external-link.svg\" alt=\"External Link Icon\" style=\"width: 16px;\" loading=\"lazy\" decoding=\"async\"/>\n        </a>\n      </footer>\n    </aside>\n\nGet batch details for a specific batch id.",
        "tags": [
          "batches"
        ],
        "x-plan": [
          "ss-standard_and_premium_plans",
          "ss-api-free_plan",
          "ss-api-advanced_and_enterprise_plans"
        ],
        "operationId": "get_batch_by_id",
        "responses": {
          "200": {
            "description": "The request was a success.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/get_batch_by_id_response_body"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "description": "The API returns a 404 response when no `batch` corresponds to the `batch_id` provided.",
            "content": {
              "application/json": {
                "schema": {
                  "title": "empty_response_body",
                  "type": "string",
                  "minLength": 0,
                  "maxLength": 0
                }
              }
            }
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      },
      "put": {
        "summary": "Update batch status to 'archived' by id",
        "description": "<aside class=\"access\" aria-label=\"Endpoint access\">\n      <table class=\"access__table\">\n        <thead>\n          <tr>\n            <th class=\"access__table-header\">Products</th>\n            <th class=\"access__table-header\">Plans</th>\n          </tr>\n        </thead>\n        <tbody>\n          <tr>\n            <td class=\"access__table-cell access__product\">\n              <img class=\"access__logo\" src=\"/static/logos/shipstation-api-logo.svg\" alt=\"ShipStation API Logo\" loading=\"lazy\" decoding=\"async\"/>\n              <div class=\"access__sub\">Formerly ShipEngine</div>\n            </td>\n            <td class=\"access__table-cell access__plans\">\n              <a href=\"/apis/@shipstation-v2/docs/getting-started/plans/shipstation-api-free.md\" class=\"access__plan\">Free</a>\n              <a href=\"/apis/@shipstation-v2/docs/getting-started/plans/shipstation-api-advanced-enterprise.md\" class=\"access__plan\">Advanced</a>\n              <a href=\"/apis/@shipstation-v2/docs/getting-started/plans/shipstation-api-advanced-enterprise.md\" class=\"access__plan\">Enterprise</a>\n            </td>\n          </tr>\n          <tr>\n            <td class=\"access__table-cell\">\n              <img class=\"access__logo\" src=\"/static/logos/shipstation-logo.svg\" alt=\"ShipStation Logo\" loading=\"lazy\" decoding=\"async\"/>\n            </td>\n            <td class=\"access__table-cell access__plans\">\n              <a href=\"/apis/@shipstation-v2/docs/getting-started/plans/shipstation-free-starter.md\" class=\"access__plan access__plan--off\">Free</a>\n              <a href=\"/apis/@shipstation-v2/docs/getting-started/plans/shipstation-free-starter.md\" class=\"access__plan access__plan--off\">Starter</a>\n              <a href=\"/apis/@shipstation-v2/docs/getting-started/plans/shipstation-standard-premium.md\" class=\"access__plan\">Standard</a>\n              <a href=\"/apis/@shipstation-v2/docs/getting-started/plans/shipstation-standard-premium.md\" class=\"access__plan\">Premium</a>\n            </td>\n          </tr>\n        </tbody>\n      </table>\n      <footer class=\"access__footer\">\n        <a class=\"access__help\" href=\"/apis/@shipstation-v2/docs/getting-started/products-and-plans.md\">\n          Learn about products and plans\n          <img src=\"/static/icons/external-link.svg\" alt=\"External Link Icon\" style=\"width: 16px;\" loading=\"lazy\" decoding=\"async\"/>\n        </a>\n      </footer>\n    </aside>\n\nUpdate a batch by id setting its status to 'archived'.",
        "operationId": "update_batch",
        "tags": [
          "batches"
        ],
        "x-plan": [
          "ss-standard_and_premium_plans",
          "ss-api-free_plan",
          "ss-api-advanced_and_enterprise_plans"
        ],
        "responses": {
          "204": {
            "$ref": "#/components/responses/NoContent"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/v2/batches/{batch_id}/add": {
      "x-visibility": "public",
      "summary": "Add shipment ids or rate ids to a batch.",
      "description": "You can continue to add `shipment_ids`` and/or `rate_ids`` to already created batches until you are ready to process the batch.\n",
      "parameters": [
        {
          "$ref": "#/components/parameters/batch_id_path_param"
        }
      ],
      "post": {
        "summary": "Add to a batch",
        "description": "<aside class=\"access\" aria-label=\"Endpoint access\">\n      <table class=\"access__table\">\n        <thead>\n          <tr>\n            <th class=\"access__table-header\">Products</th>\n            <th class=\"access__table-header\">Plans</th>\n          </tr>\n        </thead>\n        <tbody>\n          <tr>\n            <td class=\"access__table-cell access__product\">\n              <img class=\"access__logo\" src=\"/static/logos/shipstation-api-logo.svg\" alt=\"ShipStation API Logo\" loading=\"lazy\" decoding=\"async\"/>\n              <div class=\"access__sub\">Formerly ShipEngine</div>\n            </td>\n            <td class=\"access__table-cell access__plans\">\n              <a href=\"/apis/@shipstation-v2/docs/getting-started/plans/shipstation-api-free.md\" class=\"access__plan\">Free</a>\n              <a href=\"/apis/@shipstation-v2/docs/getting-started/plans/shipstation-api-advanced-enterprise.md\" class=\"access__plan\">Advanced</a>\n              <a href=\"/apis/@shipstation-v2/docs/getting-started/plans/shipstation-api-advanced-enterprise.md\" class=\"access__plan\">Enterprise</a>\n            </td>\n          </tr>\n          <tr>\n            <td class=\"access__table-cell\">\n              <img class=\"access__logo\" src=\"/static/logos/shipstation-logo.svg\" alt=\"ShipStation Logo\" loading=\"lazy\" decoding=\"async\"/>\n            </td>\n            <td class=\"access__table-cell access__plans\">\n              <a href=\"/apis/@shipstation-v2/docs/getting-started/plans/shipstation-free-starter.md\" class=\"access__plan access__plan--off\">Free</a>\n              <a href=\"/apis/@shipstation-v2/docs/getting-started/plans/shipstation-free-starter.md\" class=\"access__plan access__plan--off\">Starter</a>\n              <a href=\"/apis/@shipstation-v2/docs/getting-started/plans/shipstation-standard-premium.md\" class=\"access__plan\">Standard</a>\n              <a href=\"/apis/@shipstation-v2/docs/getting-started/plans/shipstation-standard-premium.md\" class=\"access__plan\">Premium</a>\n            </td>\n          </tr>\n        </tbody>\n      </table>\n      <footer class=\"access__footer\">\n        <a class=\"access__help\" href=\"/apis/@shipstation-v2/docs/getting-started/products-and-plans.md\">\n          Learn about products and plans\n          <img src=\"/static/icons/external-link.svg\" alt=\"External Link Icon\" style=\"width: 16px;\" loading=\"lazy\" decoding=\"async\"/>\n        </a>\n      </footer>\n    </aside>\n\nAdd a shipment or rate to a batch.",
        "tags": [
          "batches"
        ],
        "x-plan": [
          "ss-standard_and_premium_plans",
          "ss-api-free_plan",
          "ss-api-advanced_and_enterprise_plans"
        ],
        "operationId": "add_to_batch",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/create_and_process_batch_request_body"
              }
            }
          }
        },
        "responses": {
          "204": {
            "$ref": "#/components/responses/NoContent"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "description": "The API returns a 404 response when no `batch` corresponds to the `batch_id` provided.",
            "content": {
              "application/json": {
                "schema": {
                  "title": "empty_response_body",
                  "type": "string",
                  "minLength": 0,
                  "maxLength": 0
                }
              }
            }
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/v2/batches/{batch_id}/errors": {
      "x-visibility": "public",
      "summary": "Batch errors",
      "description": "Errors in batches must be handled differently from synchronous requests. You must retrieve the status of your batch by getting a batch and getting an overview of the statuses or by listing the batch errors.\n",
      "parameters": [
        {
          "$ref": "#/components/parameters/batch_id_path_param"
        }
      ],
      "get": {
        "summary": "Get batch errors",
        "description": "<aside class=\"access\" aria-label=\"Endpoint access\">\n      <table class=\"access__table\">\n        <thead>\n          <tr>\n            <th class=\"access__table-header\">Products</th>\n            <th class=\"access__table-header\">Plans</th>\n          </tr>\n        </thead>\n        <tbody>\n          <tr>\n            <td class=\"access__table-cell access__product\">\n              <img class=\"access__logo\" src=\"/static/logos/shipstation-api-logo.svg\" alt=\"ShipStation API Logo\" loading=\"lazy\" decoding=\"async\"/>\n              <div class=\"access__sub\">Formerly ShipEngine</div>\n            </td>\n            <td class=\"access__table-cell access__plans\">\n              <a href=\"/apis/@shipstation-v2/docs/getting-started/plans/shipstation-api-free.md\" class=\"access__plan\">Free</a>\n              <a href=\"/apis/@shipstation-v2/docs/getting-started/plans/shipstation-api-advanced-enterprise.md\" class=\"access__plan\">Advanced</a>\n              <a href=\"/apis/@shipstation-v2/docs/getting-started/plans/shipstation-api-advanced-enterprise.md\" class=\"access__plan\">Enterprise</a>\n            </td>\n          </tr>\n          <tr>\n            <td class=\"access__table-cell\">\n              <img class=\"access__logo\" src=\"/static/logos/shipstation-logo.svg\" alt=\"ShipStation Logo\" loading=\"lazy\" decoding=\"async\"/>\n            </td>\n            <td class=\"access__table-cell access__plans\">\n              <a href=\"/apis/@shipstation-v2/docs/getting-started/plans/shipstation-free-starter.md\" class=\"access__plan access__plan--off\">Free</a>\n              <a href=\"/apis/@shipstation-v2/docs/getting-started/plans/shipstation-free-starter.md\" class=\"access__plan access__plan--off\">Starter</a>\n              <a href=\"/apis/@shipstation-v2/docs/getting-started/plans/shipstation-standard-premium.md\" class=\"access__plan\">Standard</a>\n              <a href=\"/apis/@shipstation-v2/docs/getting-started/plans/shipstation-standard-premium.md\" class=\"access__plan\">Premium</a>\n            </td>\n          </tr>\n        </tbody>\n      </table>\n      <footer class=\"access__footer\">\n        <a class=\"access__help\" href=\"/apis/@shipstation-v2/docs/getting-started/products-and-plans.md\">\n          Learn about products and plans\n          <img src=\"/static/icons/external-link.svg\" alt=\"External Link Icon\" style=\"width: 16px;\" loading=\"lazy\" decoding=\"async\"/>\n        </a>\n      </footer>\n    </aside>\n\nErrors in batches must be handled differently from synchronous requests. You must retrieve the status of your batch by getting a batch and getting an overview of the statuses or by listing the batch errors.\n",
        "tags": [
          "batches"
        ],
        "x-plan": [
          "ss-standard_and_premium_plans",
          "ss-api-free_plan",
          "ss-api-advanced_and_enterprise_plans"
        ],
        "operationId": "list_batch_errors",
        "parameters": [
          {
            "$ref": "#/components/parameters/page_query_param"
          },
          {
            "$ref": "#/components/parameters/pagesize_query_param"
          }
        ],
        "responses": {
          "200": {
            "description": "The request was a success.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/list_batch_errors_response_body"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/v2/batches/{batch_id}/process/labels": {
      "x-visibility": "public",
      "summary": "Process Batch ID Labels",
      "description": "Process Batch ID Labels",
      "parameters": [
        {
          "$ref": "#/components/parameters/batch_id_path_param"
        }
      ],
      "post": {
        "summary": "Process batch id labels",
        "description": "<aside class=\"access\" aria-label=\"Endpoint access\">\n      <table class=\"access__table\">\n        <thead>\n          <tr>\n            <th class=\"access__table-header\">Products</th>\n            <th class=\"access__table-header\">Plans</th>\n          </tr>\n        </thead>\n        <tbody>\n          <tr>\n            <td class=\"access__table-cell access__product\">\n              <img class=\"access__logo\" src=\"/static/logos/shipstation-api-logo.svg\" alt=\"ShipStation API Logo\" loading=\"lazy\" decoding=\"async\"/>\n              <div class=\"access__sub\">Formerly ShipEngine</div>\n            </td>\n            <td class=\"access__table-cell access__plans\">\n              <a href=\"/apis/@shipstation-v2/docs/getting-started/plans/shipstation-api-free.md\" class=\"access__plan\">Free</a>\n              <a href=\"/apis/@shipstation-v2/docs/getting-started/plans/shipstation-api-advanced-enterprise.md\" class=\"access__plan\">Advanced</a>\n              <a href=\"/apis/@shipstation-v2/docs/getting-started/plans/shipstation-api-advanced-enterprise.md\" class=\"access__plan\">Enterprise</a>\n            </td>\n          </tr>\n          <tr>\n            <td class=\"access__table-cell\">\n              <img class=\"access__logo\" src=\"/static/logos/shipstation-logo.svg\" alt=\"ShipStation Logo\" loading=\"lazy\" decoding=\"async\"/>\n            </td>\n            <td class=\"access__table-cell access__plans\">\n              <a href=\"/apis/@shipstation-v2/docs/getting-started/plans/shipstation-free-starter.md\" class=\"access__plan access__plan--off\">Free</a>\n              <a href=\"/apis/@shipstation-v2/docs/getting-started/plans/shipstation-free-starter.md\" class=\"access__plan access__plan--off\">Starter</a>\n              <a href=\"/apis/@shipstation-v2/docs/getting-started/plans/shipstation-standard-premium.md\" class=\"access__plan\">Standard</a>\n              <a href=\"/apis/@shipstation-v2/docs/getting-started/plans/shipstation-standard-premium.md\" class=\"access__plan\">Premium</a>\n            </td>\n          </tr>\n        </tbody>\n      </table>\n      <footer class=\"access__footer\">\n        <a class=\"access__help\" href=\"/apis/@shipstation-v2/docs/getting-started/products-and-plans.md\">\n          Learn about products and plans\n          <img src=\"/static/icons/external-link.svg\" alt=\"External Link Icon\" style=\"width: 16px;\" loading=\"lazy\" decoding=\"async\"/>\n        </a>\n      </footer>\n    </aside>\n\nCreate and purchase the labels for the shipments included in the batch.",
        "tags": [
          "batches"
        ],
        "x-plan": [
          "ss-standard_and_premium_plans",
          "ss-api-free_plan",
          "ss-api-advanced_and_enterprise_plans"
        ],
        "operationId": "process_batch",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/process_batch_request_body"
              }
            }
          }
        },
        "responses": {
          "204": {
            "$ref": "#/components/responses/NoContent"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/v2/batches/{batch_id}/remove": {
      "x-visibility": "public",
      "summary": "Remove batch by id",
      "description": "Remove specific shipment ids or rate ids from a batch.",
      "parameters": [
        {
          "$ref": "#/components/parameters/batch_id_path_param"
        }
      ],
      "post": {
        "summary": "Remove from batch",
        "description": "<aside class=\"access\" aria-label=\"Endpoint access\">\n      <table class=\"access__table\">\n        <thead>\n          <tr>\n            <th class=\"access__table-header\">Products</th>\n            <th class=\"access__table-header\">Plans</th>\n          </tr>\n        </thead>\n        <tbody>\n          <tr>\n            <td class=\"access__table-cell access__product\">\n              <img class=\"access__logo\" src=\"/static/logos/shipstation-api-logo.svg\" alt=\"ShipStation API Logo\" loading=\"lazy\" decoding=\"async\"/>\n              <div class=\"access__sub\">Formerly ShipEngine</div>\n            </td>\n            <td class=\"access__table-cell access__plans\">\n              <a href=\"/apis/@shipstation-v2/docs/getting-started/plans/shipstation-api-free.md\" class=\"access__plan\">Free</a>\n              <a href=\"/apis/@shipstation-v2/docs/getting-started/plans/shipstation-api-advanced-enterprise.md\" class=\"access__plan\">Advanced</a>\n              <a href=\"/apis/@shipstation-v2/docs/getting-started/plans/shipstation-api-advanced-enterprise.md\" class=\"access__plan\">Enterprise</a>\n            </td>\n          </tr>\n          <tr>\n            <td class=\"access__table-cell\">\n              <img class=\"access__logo\" src=\"/static/logos/shipstation-logo.svg\" alt=\"ShipStation Logo\" loading=\"lazy\" decoding=\"async\"/>\n            </td>\n            <td class=\"access__table-cell access__plans\">\n              <a href=\"/apis/@shipstation-v2/docs/getting-started/plans/shipstation-free-starter.md\" class=\"access__plan access__plan--off\">Free</a>\n              <a href=\"/apis/@shipstation-v2/docs/getting-started/plans/shipstation-free-starter.md\" class=\"access__plan access__plan--off\">Starter</a>\n              <a href=\"/apis/@shipstation-v2/docs/getting-started/plans/shipstation-standard-premium.md\" class=\"access__plan\">Standard</a>\n              <a href=\"/apis/@shipstation-v2/docs/getting-started/plans/shipstation-standard-premium.md\" class=\"access__plan\">Premium</a>\n            </td>\n          </tr>\n        </tbody>\n      </table>\n      <footer class=\"access__footer\">\n        <a class=\"access__help\" href=\"/apis/@shipstation-v2/docs/getting-started/products-and-plans.md\">\n          Learn about products and plans\n          <img src=\"/static/icons/external-link.svg\" alt=\"External Link Icon\" style=\"width: 16px;\" loading=\"lazy\" decoding=\"async\"/>\n        </a>\n      </footer>\n    </aside>\n\nRemove specific shipment ids or rate ids from a batch.",
        "tags": [
          "batches"
        ],
        "x-plan": [
          "ss-standard_and_premium_plans",
          "ss-api-free_plan",
          "ss-api-advanced_and_enterprise_plans"
        ],
        "operationId": "remove_from_batch",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/remove_from_batch_request_body"
              }
            }
          }
        },
        "responses": {
          "204": {
            "$ref": "#/components/responses/NoContent"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/v2/carriers": {
      "x-visibility": "public",
      "summary": "Carriers",
      "description": "Carriers specializes in transporting freight from one destination to another.\nShipStation allows you to easily integrate with multiple carriers so you can choose the shipping services that are right for you.\n",
      "get": {
        "summary": "List carriers",
[...]
